* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
}

.logo {
  height: 25px;
}

header {
  background-color: #004ba1;
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
}

main {
  overflow: auto;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
}

#add-option {
  margin: 5px;
  display: flex;
  justify-content: center;
}

#display-list p {
  font-size: 12px;
  color: #666;
}

#add-option input,
#add-option button {
  height: 2em;
  line-height: 2em;
}

#add-option input {
  display: block;
  flex: 1 0 auto;
  border: solid 1px #000;
  border-right: none;
  border-radius: 3px 0 0 3px;
  padding: 0 5px;
  max-width: 500px;
}

#add-option button {
  display: block;
  border-radius: 0 3px 3px 0;
  max-width: 100px;
}

#display-list ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#display-list li {
  text-align: left;
}

#selected {
  font-size: 2em;
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}

button {
  background-color: #004ba1;
  color: #FFF;
  border: solid #000000 1px;
  border-radius: 3px;
  height: 2em;
  line-height: 2em;
}

button:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 800px) {

  .App {
    height: 100vh;
  }

  header {
    flex: 0 0 auto;
  }

  #add-option {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }
  
  footer {
    flex: 0 0 auto;
  }

}