* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
}

header {
  background-color: #004ba1;
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 10px;
}

main {
  overflow: auto;
}

footer {
 /* height: 50px; */
}

@media screen and (max-width: 800px) {

  .App {
    height: 100vh;
  }

  header {
    flex: 0 0 auto;
  }

  #add-item {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }
  
  footer {
    flex: 0 0 auto;
  }

}