* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 100vh;
}

.logo {
  height: 25px;
}

header {
  background-color: #004ba1;
  color: #FFFFFF;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
}

main {
  overflow: auto;
}

#add-item {
  padding: 5px;
}

#add-item input,
#add-item button {
  height: 2em;
  line-height: 2em;
}

#add-item input {
  border: solid 1px #000;
  border-right: none;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  width: 70%;
  padding: 0 5px;
}

#add-item button {
  width: 30%;
  border-radius: 0 3px 3px 0;
}

ol#display-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#display-list li {
  text-align: left;
}

#selected {
  font-size: 2em;
}

footer {
 padding: 5px;
}

button {
  background-color: #004ba1;
  color: #FFF;
  border: solid #000000 1px;
  border-radius: 3px;
  height: 2em;
  line-height: 2em;
}

@media screen and (max-width: 800px) {

  .App {
    height: 100vh;
  }

  header {
    flex: 0 0 auto;
  }

  #add-item {
    flex: 0 0 auto;
  }

  main {
    flex: 1 1 auto;
  }
  
  footer {
    flex: 0 0 auto;
  }

}